<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Archetype Created Web Application</display-name>

	<!-- CONFIGURING THE FRONT CONTROLLER -->
	<!-- Dispatcher Servlet acts as our FRONT CONTROLLER -->
	<servlet>

		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

	</servlet>

	<!-- Every Request must go thru Dispatcher Servlet since it acts as our 
		FRONT CONTROLLER -->
<!-- Front controller/Dispatcher servlet takes help of a handler mapping , 
the handler mapping creates a table of all the urls that will be handled by a particular controller
All thses controllers are helper controllers that create that data and passes the view
  -->
		
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>




</web-app>
